html{
    font-family:sans-serif
}

body{
    margin:0
}

header{
    background:#34ce8e;
    height:100px
}

h1{
    text-align:center;
    color:#fff;
    line-height:100px;
    margin:0
}

article{
    margin:10px;
    padding:10px;
    background:rgba(16,233,215,.178)
}

.adaptive{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap
}

@media screen and (min-width: 1400px){
    article:nth-child(1),article:nth-child(2),article:nth-child(4),article:nth-child(5)
    {
        -webkit-box-flex:0;
        -ms-flex:0 1 calc(50% - 40px);
        flex:0 1 calc(50% - 40px)
    }
    article:nth-child(6),article:nth-child(7),article:nth-child(8),article:nth-child(9)
    {
        -webkit-box-flex:0;
        -ms-flex:0 1 calc(25% - 40px);
        flex:0 1 calc(25% - 40px)
    }
}

@media screen and (min-width: 700px){
    article:nth-child(4),article:nth-child(5),article:nth-child(6),article:nth-child(7),article:nth-child(8),article:nth-child(9)
    {
        -webkit-box-flex:0;
        -ms-flex:0 1 calc(50% - 40px);
        flex:0 1 calc(50% - 40px)
    }
}

@media screen and (max-width: 699px){
    article{
        -webkit-box-flex:0;
        -ms-flex:0 1 calc(100% - 40px);
        flex:0 1 calc(100% - 40px)
    }
}